footer{
    background: #202827;
    color: #aaa;
    padding: calc(7px * var(--escala)) calc(10px * var(--escala));
    font-size: calc(11px * var(--escala));
    font-weight: lighter;
    padding-top: 35px;
}
footer a{
    color: #aaa;
    text-decoration: none;
}
footer a:hover{
    color: #fff;
}
footer > div
,footer > a{
    margin: calc(2px * var(--escala)) 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .contacto{
    color: #ddd;
    padding-bottom: calc(5px * var(--escala));
}
footer .telf > *{
    margin: 0 calc(5px * var(--escala));
}
footer .rrss{
    padding-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .rrss a{
    padding: calc(5px * var(--escala));
    margin: 0 calc(5px * var(--escala));
}
footer .rrss img{
    height: calc(30px * var(--escala));
}
footer .copy{
    display: flex;
    justify-content: flex-start;
    margin-top: calc(15px * var(--escala));
}
footer .privacity{
    font-weight: bolder;
    color: #fff;
    text-align: left;
    margin: 0 calc(5px * var(--escala));
}
