.img_diapositivas2
,.img_diapositivas{
    width: 100%;
    height: calc(500px * var(--escala));
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.img_diapositivas2 > img
,.img_diapositivas > img{
    flex: none;
    width: 100%;
    margin-left: 0;
    margin: 0;
    transition: 0.5s;
    max-height: 100%;
    object-fit: contain;
}
.img_diapositivas2 > iframe
,.img_diapositivas > iframe{
    width: 100%;
    height: 100%;
}
.img_diapositivas2 .selector
,.img_diapositivas .selector{
    height: calc(20px * var(--escala));
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc( 100% - calc(40px * var(--escala)) );
    left: 0;
}
.img_diapositivas2 .selector .box
,.img_diapositivas .selector .box{
    height: calc(10px * var(--escala));
    width: calc(10px * var(--escala));
    margin: 0 calc(5px * var(--escala));
    background: #ccc;
    cursor: pointer;
}
.img_diapositivas2 .selector .box:hover
,.img_diapositivas .selector .box:hover{
    background: #ddd;
}
/* 1 */
.img_diapositivas[pos="1"] > *:not(.selector):first-child
/* 2 */
,.img_diapositivas[pos="2"] > *:not(.selector):first-child
,.img_diapositivas[pos="2"] > *:not(.selector):first-child + *:not(.selector)
/* 3 */
,.img_diapositivas[pos="3"] > *:not(.selector):first-child
,.img_diapositivas[pos="3"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas[pos="3"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
/* 4 */
,.img_diapositivas[pos="4"] > *:not(.selector):first-child
,.img_diapositivas[pos="4"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas[pos="4"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="4"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 5 */
,.img_diapositivas[pos="5"] > *:not(.selector):first-child
,.img_diapositivas[pos="5"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas[pos="5"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="5"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="5"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 6 */
,.img_diapositivas[pos="6"] > *:not(.selector):first-child
,.img_diapositivas[pos="6"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 7 */
,.img_diapositivas[pos="7"] > *:not(.selector):first-child
,.img_diapositivas[pos="7"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 8 */
,.img_diapositivas[pos="8"] > *:not(.selector):first-child
,.img_diapositivas[pos="8"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
{ margin-left: -100%; }

/* 1 */
.img_diapositivas2[pos="1"] > *:not(.selector):first-child
/* 2 */
,.img_diapositivas2[pos="2"] > *:not(.selector):first-child
,.img_diapositivas2[pos="2"] > *:not(.selector):first-child + *:not(.selector)
/* 3 */
,.img_diapositivas2[pos="3"] > *:not(.selector):first-child
,.img_diapositivas2[pos="3"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas2[pos="3"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
/* 4 */
,.img_diapositivas2[pos="4"] > *:not(.selector):first-child
,.img_diapositivas2[pos="4"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas2[pos="4"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="4"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 5 */
,.img_diapositivas2[pos="5"] > *:not(.selector):first-child
,.img_diapositivas2[pos="5"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas2[pos="5"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="5"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="5"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 6 */
,.img_diapositivas2[pos="6"] > *:not(.selector):first-child
,.img_diapositivas2[pos="6"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas2[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="6"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 7 */
,.img_diapositivas2[pos="7"] > *:not(.selector):first-child
,.img_diapositivas2[pos="7"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas2[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="7"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
/* 8 */
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child + *:not(.selector)
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
,.img_diapositivas2[pos="8"] > *:not(.selector):first-child + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector) + *:not(.selector)
{ opacity: 1; }
