:root {
    --escala:1.25;
    --alto-sidebar:  calc(200px * var(--escala));
    --transition-sidebar: 0.3s;
    --maximo-ancho: calc(800px * var(--escala))
}
@font-face {
  font-family: helveticaMain;
  src: url(/fuentes/HelveticaNeueLTStdLt.ttf);
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: helveticaMain , Helvetica;
    font-weight: lighter;
    margin: 0 auto;
}
menu{
    flex: none;
}
body > section{
    flex: 1;
}
footer{
    flex: none;
}

.imagen_slide{
    width: 100%;
}
h1,h2,h3,p{
    display:block;
    max-width: calc(700px * var(--escala));
    margin: auto;
}
h1,h2,h3{
    text-align: center;
    padding: calc(10px * var(--escala)) calc(10px * var(--escala)) calc(50px * var(--escala)) calc(10px * var(--escala));
    font-size:  calc(60px * var(--escala));
}
h2{
    font-size:  calc(40px * var(--escala));
    padding-bottom: calc(40px * var(--escala));
}
h3{
    font-size:  calc(20px * var(--escala));
    padding-bottom: calc(20px * var(--escala));
    padding-top: calc(30px * var(--escala));
    padding-left: calc(30px * var(--escala));
    padding-right: calc(30px * var(--escala));
}
p{
    font-size: calc(15px * var(--escala));
    padding: calc(10px * var(--escala)) calc(30px * var(--escala));
    color: #888;
}
p.center{
    text-align: center;
}
p.tab{
    padding-left: calc(60px * var(--escala));
}
span.subtitulo{
    padding-left:  calc(30px * var(--escala));
    display: block;
    font-weight: bold;
    color: #ccc;
    display: block;
    max-width:  calc(700px * var(--escala));
    margin: auto;
}
h3 + span.subtitulo{
    font-size:  calc(12px * var(--escala));
    margin-top:  calc(-22px * var(--escala));
    padding-left: calc(30px * var(--escala));
    padding-right: calc(30px * var(--escala));
}
.texto:not(.sin_margen){
    padding:  calc(50px * var(--escala)) 0;
}
.texto.gris {
    background: #eee;
}
.texto p{
    text-align: justify;
    text-align-last: left;
    word-wrap: break-word;
}
.vertical{
    display: flex;
    justify-content: space-between;
}
.vertical > *{
    flex: 1;
}
.vertical .texto{
    /* max-width:  calc(300px * var(--escala)); */
}
.vertical img{
    width: 100%;
}
.centrador_vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.marker_green{
    color: #ab0;
}
.left{
    text-align: left;
}
.ancho_maximo{
    max-width: var(--maximo-ancho);
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
    width: -moz-available;
}
.contenedor-imagen-adaptativa{
    width: 100%;
    height:  calc(300px * var(--escala));
    overflow: hidden;
    display: flex;
    align-items: center;
}
.contenedor-imagen-adaptativa img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.margin_ultimo_parrafo{
    margin-bottom: calc(50px * var(--escala));
}
.titulo_privacidad{
    text-align: left;
    padding: calc(20px * var(--escala)) calc(30px * var(--escala));
    font-size: calc(26px * var(--escala));
    padding-top: calc(30px * var(--escala));
}
body[seccion="contacto"] p{
    font-size: calc(13px * var(--escala));
}
body[seccion="trabajos"] h3{
    padding-top: calc(50px * var(--escala)) !important;
}
body[seccion="nosotros"] .vertical.ancho_maximo p{
    padding-left: 0;
    padding-right: 0;
}
body[seccion="nosotros"] .vertical.ancho_maximo .texto:first-child{
    padding-right: calc(30px * var(--escala));
}
body[seccion="nosotros"] .vertical.ancho_maximo .texto:last-child{
    padding-left: calc(30px * var(--escala));
}
