menu{
    display: flex;
    justify-content: space-between;
    font-size:  calc(12px * var(--escala));
    font-weight: bolder;
    align-items: flex-end;
    padding:  calc(30px * var(--escala))  calc(30px * var(--escala)) 0  calc(30px * var(--escala));
    margin: 0 auto;
    margin-bottom:  calc(30px * var(--escala));
    max-width: var(--maximo-ancho);
    align-items: center;
    flex-wrap: wrap;
}
menu .logo{
    text-decoration: none;
    display: block;
    height:  calc(40px * var(--escala));
    margin-bottom:  calc(-7px * var(--escala));
    padding: 0 calc(20px * var(--escala)) calc(20px * var(--escala)) 0;
}
menu .logo img{
    height: 100%;
}
menu .secciones{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: calc(3px * var(--escala));
    margin-bottom: 0;
}
menu .secciones .seccion{
    text-decoration: none;
    color :#000;
    padding:  calc(5px * var(--escala))  calc(15px * var(--escala)) calc(5px * var(--escala)) 0;
    cursor: pointer;
}
body[seccion="inicio"] menu .seccion[esp="Inicio"]
,body[seccion="nosotros"] menu .seccion[esp="Nosotros"]
,body[seccion="trabajos"] menu .seccion[esp="Trabajos"]
,body[seccion="contacto"] menu .seccion[esp="Contacto"]
{ color: #ab0; }
menu .idioma > div{
    cursor:pointer;
    background: #fff;
}
menu .idioma{
    cursor:pointer;
    position: relative;
    height: calc(20px * var(--escala));
}
menu .idioma::after{
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 5px;
    content: "◁";
}
menu .idioma[desplegado="1"]::after{
    content: "▽";
}
body:not([idioma="esp"]) menu .idioma:not([desplegado="1"]) > .esp
,body:not([idioma="eng"]) menu .idioma:not([desplegado="1"]) > .eng
,body:not([idioma="cat"]) menu .idioma:not([desplegado="1"]) > .cat
{display: none}
