.menu_sidebar{
    widows: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_sidebar .boton_imagen{
    margin: 3px 0;
    cursor: pointer;
    width: 100%;
    height: var(--alto-sidebar);
    overflow: hidden;
    flex: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-sidebar);
    filter: grayscale(1);
}
.menu_sidebar .boton_imagen:hover{
    filter: grayscale(0);
}
.menu_sidebar .boton_imagen .traduccion{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    font-weight: bolder;
    letter-spacing: 3vw;
    text-shadow: 1px 1px 20px #000, 1px 1px 8px #000;
    transition: var(--transition-sidebar);
    opacity: 1;
}
@media (min-width:1000px){
    .menu_sidebar .boton_imagen .traduccion{
        letter-spacing: calc(20px * var(--escala));
    }
}

body[touch="0"] .menu_sidebar .boton_imagen:not(:hover) .traduccion{
    opacity: 0;
}
.menu_sidebar .boton_imagen .traduccion::after{
    margin-right: -25px;/*Compenzar letter spacing*/
}
.menu_sidebar .boton_imagen img{
    width: 100%;
    transition: var(--transition-sidebar);
    transform: scale(1.1);
    min-height: 100%;
    object-fit: cover;
}
.menu_sidebar .boton_imagen:not(:hover) img{
    transform: scale(1);
}
body[seccion="inicio"] .menu_sidebar .boton_imagen:not(.siempre)
,body:not([seccion="inicio"]) .menu_sidebar .boton_imagen.solo
{
    display: none;
}
