body[seccion="contacto"] section{
    background: #202827;
    color: #999;
    text-align: center;
}
section.contacto .blanco{
    color: #fff;
}
section.contacto h3{
    margin: calc(20px * var(--escala)) auto;
    color: #999;
    font-size: calc(30px * var(--escala));
    font-weight: lighter;
}
section.contacto p{
    margin: calc(20px * var(--escala));
}
section.contacto a{
    text-decoration: none;
    margin: calc(2px * var(--escala)) 0;
    width: 100%;
    justify-content: center;
    color: inherit;
}
section.contacto a:hover{
    color: #fff;
}
footer > *:not(.rrss):not(.copy){
    display: none;
}
