.home h2{
    text-align: left;
    position:relative;
    padding: calc(3px * var(--escala));
    font-size: calc(20px * var(--escala));
    font-weight: bold;
    margin-bottom: calc(15px * var(--escala));
    padding: 0;
}
.home h3{
    text-align: left;
    padding: calc(3px * var(--escala));
    font-size: calc(16px * var(--escala));
    padding: 0;
    margin-bottom: calc(5px * var(--escala));
}
.home h2::before{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    height: calc(5px * var(--escala));
    width: calc(30px * var(--escala));
    background: #ab0;
}
.home p{
    padding: 0;
}
.home .vertical{
    min-height: calc(150px * var(--escala));
    flex-wrap: wrap;
}
.home .vertical p{
    /* padding: 0 calc(20px * var(--escala)); 0 0; */
}
.home .vertical > *{
    padding: calc(50px * var(--escala)) calc(20px * var(--escala));
    min-width: calc(250px * var(--escala));
}
