.logos_empresas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(50px * var(--escala));
    flex-wrap: wrap;
}
.logos_colaboraciones{
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    padding-left:  calc(50px * var(--escala)) !important;
    padding-right:  calc(50px * var(--escala)) !important;
    scrollbar-width: none;
}
.logos_empresas span{
    font-size: calc(40px * var(--escala));
    margin: calc(20px * var(--escala));
    text-align: center;
    flex: none;
}
.logos_colaboraciones img{
    z-index: -1;
}
.logos_empresas img{
    height: calc(35px * var(--escala));
    margin: 0 calc(10px * var(--escala));
    width: auto;
    flex: none;
}
.logos_empresas::-webkit-scrollbar {
    display: none;
}
.logos_colaboraciones .no_tocar{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
