.slider{
    width: 100%;
    height: calc(300px * var(--escala));
    overflow: hidden;
    position: relative;
}
.slider .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex: none;
    transition: 0.5s;
    opacity: 0;
}
.slider .slide .texto{
    padding: calc(10px * var(--escala)) calc(20px * var(--escala));
    position: absolute;
    top: 0;
    right: calc(100% / 2);
    max-width: calc(360px * var(--escala)); /* ( --maximo-ancho/2 ) - 40px*/
    height: calc(100% - calc(20px * var(--escala)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider .slide .texto > *{
    display: block;
    width: 100%;
    margin: calc(10px * var(--escala)) 0;
}
.slider .slide > img{
    width: 100%;
}
.slider .slide .texto p{
    color: #666;
}
.slider .slide .texto.blanco h2
,.slider .slide .texto.blanco{
    color:#fff;
}
@media (max-width: 600px) {
    .slider{
        height: auto;
        min-height: 600px;
    }
    .slider .slide{
        flex-direction: column;
    }
    .slider .slide .texto{
        position: initial;
        max-width: none;
    }
    .slider .slide > img{
        width: 200%;
        transform: translate(-20%,0);
        height: calc(300px * var(--escala));
        object-fit: cover;
    }
    .slider .slide .texto.blanco h2
    ,.slider .slide .texto.blanco{
        color:initial;
    }
}
.slide .fondo_blanco{
    padding: calc(20px * var(--escala));
    background: #fff9;
}
.slide .fondo_blanco.fuerte{
    padding: calc(20px * var(--escala));
    background: #fffb;
}
